<div class="section-one">
	<!-- Video & Tabs -->
	<section id="about" class="generic animated fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h3>Our Company</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<iframe class="video" src="https://player.vimeo.com/video/105930659" width="500" height="213" allowfullscreen></iframe>
				</div>
				<div class="col-md-6">
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#one" role="tab" data-toggle="tab">Our Services</a></li>
						<li><a href="#two" role="tab" data-toggle="tab">Our Values</a></li>
						<li><a href="#three" role="tab" data-toggle="tab">Our Mision</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="one">
							<figure class="image-inline small pull-left"><img src="img/about/programs.jpg" alt="//"></figure>
							<p>Conveniently optimize best-of-breed results after cutting-edge resources. Globally brand web-enabled infomediaries for 24/365 systems. Efficiently engineer 24/7 platforms whereas progressive leadership. Professional coordinate focused bandwidth for extensible atforms. Conveniently optimize best-of-breed results after cutting-edge resources. Globally brand web-enabled infomediaries for 24/365 systems. Efficiently engineer 24/7 </p>
						</div>
						<div class="tab-pane fade" id="two">
							<figure class="image-inline small pull-right"><img src="img/about/programs.jpg" alt="//"></figure>
							<p>Conveniently optimize best-of-breed results after cutting-edge resources. Globally brand web-enabled infomediaries for 24/365 systems. Efficiently engineer 24/7 platforms whereas progressive leadership. Professional coordinate focused bandwidth for extensible atforms. Conveniently optimize best-of-breed results after cutting-edge resources. Globally brand web-enabled infomediaries for 24/365 systems. Efficiently engineer 24/7 </p>
						</div>
						<div class="tab-pane fade" id="three">
							<figure class="image-inline medium center"><img src="img/about/programs.jpg" alt="//"></figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Video & Tabs -->
  <!-- begin Separator -->
  <div class="separator">
    <svg class="separator__svg" width="100%" height="400" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ebd9bc" version="1.1" xmlns="http://www.w3.org/2000/svg">
       <path d="M 100 100 V 10 L 0 100"/>
       <path d="M 30 73 L 100 18 V 10 Z" fill="#d9ab72" stroke-width="0"/>
      </svg>
  </div>


  <!-- end Separator -->
</div>
