    <!-- Footer -->
  <footer>
    <div class="footer-top animated" data-animation="fadeInUp" data-animation-delay="400">
      <div class="container">
        <div class="row">
          <div class="widget col-sm-6 col-md-4">
            <h5 class="widget-title">Contact Info</h5>
            <p>Lawyers Attorneys is the official studio of the United States Tennis Association.</p>
            <address class="address-list">
              <i class="fa fa-building-o"></i> PT, East 39th Street, New York, NY <br>
              <i class="fa fa-whatsapp"></i> +5559 9654982 84 <br>
              <i class="fa fa-envelope"></i> contact@demo.com <br>
              <i class="fa fa-desktop"></i> www.researchcenter.com
            </address>
          </div>

          <div class="widget col-sm-6 col-md-4">
            <h5 class="widget-title">Practice Areas</h5>
            <div class="ct-list">
              <ul class="list-group list-arrow">
                <li class="media-heading fa fa-angle-right"><a href="#">Criminal Law</a></li>
                <li class="media-heading fa fa-angle-right"><a href="#">Corporate / Finance</a></li>
                <li class="media-heading fa fa-angle-right"><a href="#">Real State</a></li>
                <li class="media-heading fa fa-angle-right"><a href="#">Family Law</a></li>
                <li class="media-heading fa fa-angle-right"><a href="d">Transportation Accidents</a></li>
              </ul>
            </div>
          </div>
				<div class="col-sm-6 col-md-4">
					<div id="map" class="map"></div>
				</div>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <div class="row">
          <ul class="social-links">
            <li>
              <a href="#" title="Skype" class="tooltips">
                <i class="fa fa-skype"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Twitter" class="tooltips">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Pinterest" class="tooltips">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Facebook" class="tooltips">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Twitter" class="tooltips">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
          <p class="copyright">All right reserved to Mashat-Law.<p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->