	<!-- Page Titles -->
	<div class="page-title">
		<div class="container oftitle">
			<h1 id="fight">We fight to protect your legal rights under the law.</h1>
			<div class="pagenation">Home <i>></i> <a href="attorneys.html">Attorneys</a></div>
		</div>
	</div>
	<!-- End Page Titles -->

	<!-- Single Lawyer-->
	<section class="profile-user generic animated fadeInUp color">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h3>Lawyer Profile</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-5 hidden-xs">
							<figure>
								<img id="lawimg" src="img/team/person-01.jpg" class="img-responsive" alt="">
							</figure>
						</div>
						<div class="col-sm-7">
							<div class="tag-text">
								<h4>Mike Monett</h4>
								<span>Business Legal</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam non obcaecati quas magnam id odio maxime pariatur voluptate porro architecto, sint rem velit aperiam veritatis ducimus neque quae, in quibusdam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam non obcaecati quas magnam id odio maxime pariatur voluptate porro architecto, sint rem velit aperiam veritatis ducimus neque quae, in quibusdam?pariatur voluptate porro architecto, sint rem velit aperiam veritatis ducimus neque quae, in quibusdam?</p>
							</div>
							<h5 class="alternative-title">Lawyer Statics</h5>
							<div class="horizontal-bar">
								<p>Family Law</p>
								<div class="content-bar">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
											<span>77%</span>
										</div>
									</div>
								</div>

								<p>Civil Law</p>
								<div class="content-bar">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
											<span>98%</span>
										</div>
									</div>
								</div>

								<p>Labor Law</p>
								<div class="content-bar">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
											<span>87%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="generic">
						<div class="row">
							<div class="col-sm-12">
								<div class="section-title">
									<h3>Real Stats</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="ct-stats">
									<ul class="list-unstyled text-center">
										<li><div class="chart" data-percent="25">25%</div>
											<p>Criminal <br> Availability</p>
										</li>
										<li><div class="chart-2" data-percent="50">50%</div>
											<p>Legal <br> Availability</p>
										</li>

										<li><div class="chart-3" data-percent="75">75%</div>
											<p>Civil <br> Availability</p>
										</li>
										<li><div class="chart-4" data-percent="91">91%</div>
											<p>Auto Accident <br> Availability</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="sidebar sidebar-right">

						<h5 class="sidebar-title">Departments</h5>
						<ul class="departments">
							<li><a href="#"><i class="fa fa-angle-right"></i> Attorney</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Business</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Legal</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Team</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Personal Injury</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Litigation</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Criminal Law</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Family Law</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Corporate Law</a></li>
						</ul>

						<h5 class="sidebar-title">Our Mission</h5>
						<div class="panel-group" id="accordion-work2">
							<div class="panel">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-work2" href="#collapseService" class="collapsed">
											<i class="fa fa-plus-square"></i>Our Team Members
										</a>
									</h4>
								</div>
								<div id="collapseService" class="panel-collapse collapse" style="height: 0px;">
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, dignissimos, possimus officiis eos dolorum aperiam temporibus est aut similique vitae hic qui.</p>
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-work" href="#collapseIntegrity" class="">
											<i class="fa fa-plus-square"></i>How We Can Help You
										</a>
									</h4>
								</div>
								<div id="collapseIntegrity" class="panel-collapse in" style="height: auto;">
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, nihil quaerat numquam reprehenderit consequuntur quasi architecto enim. Quos, natus, sunt, debitis.</p>
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion-work" href="#collapseBest" class="collapsed">
											<i class="fa fa-plus-square"></i>Company History
										</a>
									</h4>
								</div>
								<div id="collapseBest" class="panel-collapse collapse">
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, nihil quaerat numquam reprehenderit consequuntur quasi architecto enim. Quos, natus, sunt, debitis.</p>
									</div>
								</div>
							</div>
						</div>

						<h5 class="sidebar-title">Tags</h5>
						<ul class="tags">
							<li><a href="#">Business</a></li>
							<li><a href="#">Lawyer</a></li>
							<li><a href="#">Legal</a></li>
							<li><a href="#">Attorney</a></li>
							<li><a href="#">Criminal</a></li>
							<li><a href="#">Corporate</a></li>
							<li><a href="#">Law</a></li>
							<li><a href="#">Health</a></li>
						</ul>
					</div>
				</div>
					<div class="generic">
						<div class="row">
							<div class="col-sm-12">
								<div class="section-title">
									<h3>Testimonials</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="test-content">
									<h2>“Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud and rcitation ullamco laboris nisi ut aliqui"</h2>
									<figure>
										<img class="img-circle" src="img/team/person01.jpg" alt="">
									</figure>
									<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="test-content">
									<h2>“Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud and rcitation ullamco laboris nisi ut aliqui"</h2>
									<figure>
										<img class="img-circle" src="img/team/person02.jpg" alt="">
									</figure>
									<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
								</div>
							</div>
						</div>
					</div>

					<div class="generic">
						<div class="row">
							<div class="col-sm-12">
								<div class="section-title">
									<h3>Specialities</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<blockquote class="succefull">
									<h4>Extra Information</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur officiis nobis illo dicta recusandae voluptatum corporis, dolores!</p>
								</blockquote>
								<blockquote class="info">
									<h4>Extra Information</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur officiis nobis illo dicta recusandae voluptatum corporis, dolores!</p>
								</blockquote>
							</div>
						</div>

					</div>

			</div>

		</div>
	</section>
	<!-- End Single Lawyer -->