	<section class="generic">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title animated" data-animation="fadeInUp" data-animation-delay="400">
						<h3>Our Practice Areas</h3>
					</div>
				</div>
			</div>
			<div class="row animated" data-animation="fadeInUp" data-animation-delay="400">
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-shield"></i>
					</div>
					<div class="content">
						<h4 class="title">Finance & Security Law</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-university"></i>
					</div>
					<div class="content">
						<h4 class="title">Corporate</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-male"></i>
					</div>
					<div class="content">
						<h4 class="title">Criminal Defense</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
			</div>
			<div class="row animated" data-animation="fadeInUp" data-animation-delay="400">
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-car"></i>
					</div>
					<div class="content">
						<h4 class="title">Serious Car Crash</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-home"></i>
					</div>
					<div class="content">
						<h4 class="title">Property Law</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-group"></i>
					</div>
					<div class="content">
						<h4 class="title">Family Law</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
			</div>
			<div class="row animated" data-animation="fadeInUp" data-animation-delay="400">
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-legal"></i>
					</div>
					<div class="content">
						<h4 class="title">Criminal Law</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-car"></i>
					</div>
					<div class="content">
						<h4 class="title">Auto Accident Law</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
				<div class="col-sm-4 icon-entry">
					<div class="content-icon-entry">
						<i class="fa fa-balance-scale"></i>
					</div>
					<div class="content">
						<h4 class="title">Personal Injury</h4>
						<div class="text"><p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p></div>
					</div>
				</div>
			</div>
		</div>
	</section>
