	<!-- Revolution Slider -->
	<div class="slider">
      <div class="tp-banner-container">
         <div class="tp-banner" >
            <ul>
               <!-- SLIDE  -->
               <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
                  <div class="tp-caption tp-fade fadeout fullscreenvideo start fullcoveredvideo"
                     data-x="0"
                     data-y="0"
                     data-speed="1000"
                     data-start="1100"
                     data-easing="Power4.easeOut"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1500"
                     data-endeasing="Power4.easeIn"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="false"
                     data-nextslideatend="true"
                     data-volume="mute"
                     data-forcecover="1"
                     data-aspectratio="16:9"
                     data-forcerewind="on"
                     style="z-index: 2; width: 1903px; height: 610px; left: 0px; top: 0px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                     <div class="html5vid HasListener fullcoveredvideo videoisplaying"
                        style="position: absolute; top: -230.21875px; left: 0px; width: 1903px; height: 1070.4375px; transform: matrix(1, 0, 0, 1, 0, 0);">
                        <video style="display: block;width:100%;height:100%">
                           <source src="/videos/vid3.mp4" type="video/mp4"> 
                        </video>
                     </div>
                  </div>
                  <div class="section-background section-background-white" style="z-index:3;"></div>
                  <!-- LAYERS -->
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption lfb customout rs-parallaxlevel-0"
                     data-x="50"
                     data-y="50"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:100% 100%;"
                     data-speed="1500"
                     data-start="1100"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 4;">
                     <img src="img/slider/dummy.png" alt="" data-lazyload="img/slider/lawyergirl.png">
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption martelsans lfb tp-resizeme rs-parallaxlevel-0"
                     data-x="563"
                     data-y="210"
                     data-speed="1600"
                     data-start="1850"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.3"
                     data-endelementdelay="0.1"
                     style="z-index: 7; max-width: auto; text-transform:uppercase;font-size:52px; line-height:80px;font-weight: 900;color:#45414d;text-transform:uppercase;max-height: auto; white-space: nowrap;">YOUR
                  </div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption martelsans default-color lfr tp-resizeme rs-parallaxlevel-0"
                     data-x="563"
                     data-y="278"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;text-transform:uppercase;transformOrigin:50% 50%;"
                     data-speed="1600"
                     data-start="2050"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.5"
                     data-endelementdelay="0.1"
                     style="z-index: 8; max-width: auto;text-transform:uppercase; font-size:97px; line-height:80px;font-weight: 900; letter-spacing: -5px;white-space: nowrap;">TRUSTED
                  </div>
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption martelsans lft tp-resizeme rs-parallaxlevel-0"
                     data-x="680"
                     data-y="358"
                     data-speed="1600"
                     data-start="2250"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.7"
                     data-endelementdelay="0.1"
                     style="z-index: 5; max-width: auto;font-size:56px; line-height:64px;font-weight: 900;text-transform:uppercase; color:#45414d;max-height: auto; white-space: nowrap;">ADVOCATE
                  </div>
                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption opensans opensans-lighter lfl tp-resizeme rs-parallaxlevel-0"
                     data-x="563"
                     data-y="430"
                     data-speed="1600"
                     data-start="2250"
                     data-easing="Power3.easeInOut"
                     data-splitin="fade"
                     data-splitout="none"
                     data-elementdelay="0.9"
                     data-endelementdelay="0.1"
                     style="z-index: 5; font-size:50px; color:#45414d;max-width: auto; max-height: auto; white-space: nowrap;">always your protector.!
                  </div>
                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption grey_regular_18 lfb tp-resizeme rs-parallaxlevel-0"
                     data-x="563"
                     data-y="498"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1600"
                     data-start="2600"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="1.0"
                     data-endelementdelay="0.1"
                     style="z-index: 9; max-width: auto; font-size:16px; line-height:26px;font-weight: 400;max-height: auto; white-space: nowrap;">
                     <div style="text-align:left;">Suspendisse commodo auctor molestie. Mauris arisusvitae massa consequat<br/>
                        pharetra. Suspendisse dapibus
                        erat lectus rutrum bibendum.
                     </div>
                  </div>
               </li>
               <!-- SLIDE  -->
               <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Video Slide">
                  <!-- MAIN IMAGE -->
                  <img src="img/slider/dummy.png"  alt="slidebg1" data-lazyload="img/slider/slidebg1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                  <!-- LAYERS -->
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption martelsans default-color lfr tp-resizeme rs-parallaxlevel-0"
                     data-x="500"
                     data-y="225"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;text-transform:uppercase;transformOrigin:50% 50%;"
                     data-speed="1600"
                     data-start="2050"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.5"
                     data-endelementdelay="0.1"
                     style="z-index: 8; max-width: auto;text-transform:uppercase; font-size:90px; line-height:80px;font-weight: 900; letter-spacing: -5px;white-space: nowrap;">Our Strategy
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption martelsans lfb tp-resizeme rs-parallaxlevel-0"
                     data-x="50"
                     data-y="180"
                     data-speed="1600"
                     data-start="1850"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.3"
                     data-endelementdelay="0.1"
                     style="z-index: 7; max-width: auto; text-transform:uppercase;font-size:52px; line-height:80px;font-weight: 900;color:#45414d;text-transform:uppercase;max-height: auto; white-space: nowrap;">
                  </div>
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption martelsans lft tp-resizeme rs-parallaxlevel-0"
                     data-x="500"
                     data-y="330"
                     data-speed="1600"
                     data-start="2250"
                     data-easing="Power3.easeInOut"
                     data-elementdelay="0.7"
                     data-endelementdelay="0.1"
                     style="z-index: 5; max-width: auto;font-size:56px; line-height:64px;font-weight: 900;text-transform:uppercase; color:#45414d;max-height: auto; white-space: nowrap;">Protects You...!
                  </div>
                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption opensans opensans-lighter lfl tp-resizeme rs-parallaxlevel-0"
                     data-x="50"
                     data-y="240"
                     data-speed="1600"
                     data-start="2250"
                     data-easing="Power3.easeInOut"
                     data-splitin="fade"
                     data-splitout="none"
                     data-elementdelay="0.9"
                     data-endelementdelay="0.1"
                     style="z-index: 5; font-size:40px; color:#45414d;max-width: auto; max-height: auto; white-space: nowrap;">Always protect you...!		</div>
                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption grey_regular_18 lfb tp-resizeme rs-parallaxlevel-0"
                     data-x="50"
                     data-y="310"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1600"
                     data-start="2600"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="1.0"
                     data-endelementdelay="0.1"
                     style="z-index: 9; max-width: 350px; font-size:16px; line-height:26px;font-weight: 400;max-height: auto; white-space: nowrap;">
                     <p>Suspendisse commodo auctor molestie. Mauris<br> arisusvitae massa consequat
                        pharetra. Suspendisse  <br> dapibus
                        erat lectus rutrum bibendum.
                     </p>
                     <p>Suspendisse commodo auctor molestie. Mauris<br> arisusvitae massa consequat
                        pharetra. Suspendisse  <br> dapibus
                        erat lectus rutrum bibendum.
                     </p>
                  </div>
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tp-fade fadeout fullscreenvideo start fullcoveredvideo"
                     data-x="0"
                     data-y="0"
                     data-speed="1000"
                     data-start="1100"
                     data-easing="Power4.easeOut"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1500"
                     data-endeasing="Power4.easeIn"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="false"
                     data-nextslideatend="true"
                     data-volume="mute"
                     data-forcecover="1"
                     data-aspectratio="16:9"
                     data-forcerewind="on"
                     style="z-index: 2; width: 1903px; height: 610px; left: 0px; top: 0px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                     <div class="html5vid HasListener fullcoveredvideo videoisplaying"
                        style="position: absolute; top: -230.21875px; left: 0px; width: 1903px; height: 1070.4375px; transform: matrix(1, 0, 0, 1, 0, 0);">
                        <video style="display: block;width:100%;height:100%">
                           <source src="/videos/vid1.mp4" type="video/mp4"> <!--path to video in .mp4 formate-->

                        </video>
                     </div>
                  </div>
                  <div class="section-background section-background-white" style="z-index:3;"></div>
               </li>
            </ul>
            <div class="tp-bannertimer"></div>
         </div>
      </div>
  </div>
	<!-- end Revolution Slider -->