	<!-- Page Title -->
	<div class="page-title">
		<div class="container">
			<h1>We fight to protect your legal rights under the law.</h1>
			<div class="pagenation">Home <i>></i> Pages <i>></i> <a href=".html">Our Team</a></div>
		</div>
	</div>
	<!-- End Page Title -->

	<!-- Our Team -->
	<section class="generic animated fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h3>Meet the Lawyers</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="boxes-content">
						<li>
							<div class="name">
								<h6>Mike Smithson</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person01.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
									<li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>John Doet</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person02.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Luke Dott</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person03.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Adam Piller</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person04.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Brad Lonet</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person05.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Pitter Smith</h6>
								<strong>Bookkeeper</strong>
								<figure><img src="img/team/person06.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Michael Piller</h6>
								<strong>Administrator</strong>
								<figure><img src="img/team/person01.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Brad Lonet</h6>
								<strong>Administrative</strong>
								<figure><img src="img/team/person03.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Edward Smith</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person02.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Mike Smithson</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person05.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Mike Smithson</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person06.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="name">
								<h6>Mike Smithson</h6>
								<strong>Partner</strong>
								<figure><img src="img/team/person05.jpg" alt="//"></figure>
							</div>
							<div class="icon-content">
								<ul class="icon-item">
                                    <li><i class="fa fa-balance-scale"></i>Family</li>
									<li><i class="fa fa-shield"></i>Accident</li>
									<li><i class="fa fa-gavel"></i>Legal</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End Our Team -->