<h2>Login</h2>
<form action="/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" placeholder="Please enter your email" required="true" name="email" value=''>
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter your current Password" required="true" name="password" value=''>
    <button type="submit">Log in</button>
    <p>Forgot your password?<a href="#">Reset here</a></p>
    <p>Don't have an account?<a href="/signup">Sign up here</a></p>
</form>